<style>
    .menu_title .droplink {
    list-style: outside none none;
}
.waves-button .fa.fa-cog {
    font-size: 20px;
}
.menu_title {
    float: right;
    padding-right: 30px;
}
.menu_title {
    float: right;
    padding-right: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 13px;
}

.col-sm-4.valGet > h3 {
    padding-right: 40px;
}
.menu_title > li {
    color: #000;
    font-size: 16px;
    list-style: outside none none;
    text-decoration: none;
}
.fa.fa-cog {
    color: #333;
}
.btn.btn-success.btn-lg.video {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #666;
    padding: 0;
}
.btn.btn-success.btn-lg.video:hover {
    color: #fff;
}
.col-md-3.col-sm-4.valGet {
    background-color: ghostwhite;
    border: 1px solid skyblue;
    margin: 15px;
    padding: 0 13px;
}
.dropdown-menu.add-wdd {
    float: right;
    min-width: 60px;
    position: absolute;
    right: -37px;
    text-align: center;
}
.dropdown-menu.add-wdd a:hover {
    background: #5bc0de none repeat scroll 0 0;
    color: #fff;
    text-align: center;
}
.ui-state-default.col-md-3.col-sm-4.WOD-BOX-POINT.ui-sortable-handle {
    background-color: white;
    border: 1px solid #999;
    border-radius: 2px;
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 12px;
    width: 230px;
}
.dropdown-toggle .fa.fa-cog {
    color: #3aa7e0 !important;
}
.mainChng.order {
    background-color: #3aa7e0;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px;
    width: 30px;
    text-align: center;
}
.embed-responsive-16by9 {
    padding: 0;
}

.tab-content.bgdr {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.ui-sortable {
    margin-left: 0;
    padding-left: 0;

}


.btn.btn-info.adw {
    margin-bottom: 15px;
}
.orderList {
    background-color: #3aa7e0;
    border: medium none;

    color: #fff;
    padding: 5px;
}
.nav.nav-pills.tabbs {
    border-bottom: 1px solid #ebebeb;
}
.nav-pills > li > a {
    border: 2px solid transparent;
    border-radius: 0 !important;
    color: #777;
    font-weight: 600;
}
.nav > li > a:focus, .nav > li > a:hover {
    border: 2px solid #3aa7e0;
    color: #3aa7e0;
    font-weight: 600;
    text-decoration: none;
    background: none;
}
.tabbs .active > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 2px solid;
    color: #3aa7e0 !important;
    font-weight: 600;
}
.tabbs > li > a:focus, .tabbs > li > a:hover{
  background-color: none!important;
}
.pla {
    color: lightseagreen;
}
.discrip {
    font-weight: 600;
    margin-top: 8px;
}

</style>

  <style>
  .morecontent span {
    display: none;
}
.morelink {
    display: block;
}

</style>
<script type="text/javascript">
  $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink" style="text-decoration: underline;color: #3aa7e0;">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});

</script>

  <script>
 $(document).ready( function (){
    $(".video").click(function () {
      var theModal = $(this).data("target");
      var videoSRC = $(this).attr("data-video");
      var videoTYPE =  $(this).parents('.valGet').find('.vidoCls').find('source').attr('type');
       var videoPoster =  $(this).parents('.valGet').find('.vidoCls').attr('poster');
      var videoSRCauto = './uploads/video/' + videoSRC;
      $(theModal + ' video').attr('src', videoSRCauto);
   $(theModal + ' video').attr('poster', videoPoster);

      $(theModal + ' button.close').click(function () {
        $(theModal + ' video').attr('src', videoSRC); 
        $(theModal + ' source').attr('type', videoTYPE);
      });
    });
  });
  </script>


<div class="page-inner">
    <div id="main-wrapper">

        <div class="row m-t-md wodli">
        <a class="btn btn-success btn-lg " href="javascript: history.go(-1)">←Back To previous page</a>
        <div class="row m-t-md">
            <h1><!-- <span class="fa fa-sign-in"></span> -->All WOD</h1>

            <% if (message.length >0) { %>
                <div class="alert alert-success">
                    <%= message %>
                </div>
                <% } %>
                <a href="/add_WOD"><button type="button" class="btn btn-info adw">Add WOD</button></a>
                    <!-- List all user in  FORM -->
                       <div class="container">
<div class="alert alert-success showDivNow" style="display:none">
<p>Update Successfully</p>
</div>
<!-- add new -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left;  height : auto; text-align: center; }
  </style>
  
 
  <script>
  $( function() {
   // $( "#sortable1,#sortable2,#sortable3" ).sortable();
    $( "#sortable1,#sortable2,#sortable3" ).disableSelection();

$("#sortable1").sortable({
  stop: function(event, ui) {
    //ui.item.index()
    var i =1;
        $('#sortable1').find('.mainChng').each(function(){
        $(this).val(i);
        i++;
        });
    }
});
$("#sortable2").sortable({
  stop: function(event, ui) {
    //ui.item.index()
    var i =1;
        $('#sortable2').find('.mainChng').each(function(){
        $(this).val(i);
        i++;
        });
    }
});
$("#sortable3").sortable({
  stop: function(event, ui) {
    //ui.item.index()
    var i =1;
        $('#sortable3').find('.mainChng').each(function(){
        $(this).val(i);
        i++;
        });
    }
});
$("#sortable4").sortable({
  stop: function(event, ui) {
    //ui.item.index()
    var i =1;
        $('#sortable4').find('.mainChng').each(function(){
        $(this).val(i);
        i++;
        });
    }
});
$("#sortable5").sortable({
  stop: function(event, ui) {
    //ui.item.index()
    var i =1;
        $('#sortable5').find('.mainChng').each(function(){
        $(this).val(i);
        i++;
        });
    }
});
  } );
  </script>

<div class="row">



 <ul  class="nav nav-pills tabbs">
 <% var j = 1;
 plan.forEach(function(plans) { %>
      <li <% if(j == '1'){ %> class="active" <% } %> >
    <a  href="#<%- j %>a" data-toggle="tab"><%- plans.plan_name %></a>
      </li>
     <% j++; });%>
  </ul>
  <div class="tab-content bgdr">
   <% var z = 1;
   plan.forEach( function(plans) { 
                   %>
     

  <div class="tab-pane <% if(z == '1'){ %>active<% } %>" id="<%- z%>a">
      
<ul id="sortable<%- z %>">
                  <% $i = 1; %>
                                <% videoList.forEach(function(video) { 

if(plans.id == video.WOD_plan){

                                %>
  <li class="ui-state-default col-md-3 col-sm-4 WOD-BOX-POINT" data-sort="<%= $i; %>"> 
                    
                         
                                  <div class="valGet">
                                       <div class="gogle">
                                      

                                       <input type="text" value="<%= $i; %>" class="mainChng order" name="order[]">
                                  <input type="hidden" value="<%= video.id %>" class="ids" name="WOD_ids[]">

                                   <input type="hidden" value="<%= plans.plan_name %>" class="plan_name" name="plan_name[]">
                              </div>

       <ul class="menu_title add-wd">


                                  <li><div class="user pull-right dropdown"> 
              <a aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> 
                <i class="fa fa-cog" aria-hidden="true"></i></a> 

                <ul class="dropdown-menu add-wdd">
                    <li><a href="#"><button class="btn btn-success btn-lg video" data-video="<%= video.video_link %>" poster="./uploads/video/<%= video.video_img %>" data-toggle="modal" data-target="#videoModal">View</button></a></li>
                    <li><a href="/editWOD?id=<%= video.id %>" target ="blank">Edit</a></li>
                    <li><a href="/delVideo?id=<%= video.id %>&video=<%= video.video_link %>&img=<%= video.video_img %>&plan=<%= video.WOD_plan %>" onclick="return confirm('Are you sure you want to delete this Video?');">Delete</a></li>

                </ul>

                
            </li>

        </ul>
        <h3> Title : <%= video.video_title %><br/></h3>
<div align="center" class="embed-responsive-16by9" >
    <video width="320" height="240" loop class="embed-responsive-item vidoCls embed-responsive-item vidoCls img-responsive" controls poster="./uploads/video/<%= video.video_img %>">
        <source src="./uploads/video/<%= video.video_link %>" type="video/wmv">
        <source src="./uploads/video/<%= video.video_link %>" type="video/mp4">
         <source src="./uploads/video/<%= video.video_link %>" type="video/mp3">

    </video>
</div>




        <p class="discrip">Description : 
<span class="more">

               <%
               if(video.video_des){
 var clean = sanitizeHtml(video.video_des, {
  allowedTags: [ 'h3', 'h4', 'h5', 'h6', 'blockquote', 'p', 'a', 'ul', 'ol',
  'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'div',
  'table', 'thead', 'caption', 'tbody', 'tr', 'th', 'td', 'pre','span','img' ],
allowedAttributes: {
  a: [ 'href', 'name', 'target', 'data-*','style', 'align', 'alt', 'center', 'bgcolor'],
  span :['style'],
  table : ['style','class','border','align'],
  img: [ 'src','data:*','class','style','alt','align' ]
}, 
selfClosing: [ 'img', 'br', 'hr', 'area', 'base', 'basefont', 'input', 'link', 'meta' ],
allowedSchemes: [ 'http', 'https', 'ftp', 'mailto'],
allowedSchemesByTag: {},
allowProtocolRelative: true
}); %>
<%- clean %>
<%
}
 %>
 </span>

 </p>
        <p class="pla">Plan : <%= plans.plan_name %><br/></p>






 </div>
 </li>
                                    <% $i++; %>
                                        <% } }); %> 
 </ul>


 <div class="clearfix"></div>
 
 <input type="submit" value="Save Order" class="orderList">
        </div>


       
        <% z++; }); %>
    
       
        </div>
        </div>
       

                           
                    </div>
                     </div>
        </div>
    </div>
</div>


  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <video width="100%" height="100%" loop class="embed-responsive-item" controls>
        <source src="">
    </video>
        </div>
      </div>
    </div>
  </div>

                                         
       <script src="../admin/js/adminSide.js" type="text/javascript"></script>
<style>
.row.m-t-md {
    width: 100%;
    margin-left: 0px;
}
</style>