<style type="text/css">
  .naeme {
    font-size: 14px;
    text-transform: capitalize;
}
#profile > ul {
    padding-left: 0;
}
</style>


<div class="page-inner" style="min-height: 1328px!important">
  <div id="main-wrapper" >
  <div class ="row m-t-md">
<div class="admin-box">
                   <div class="col-sm-4 ">
                     <div class="box1">
                       <h4> Total Member</h4>
                         <img src="../images/admin/admin1.png">
                         <span><%-total %></span>
                     </div>
                    
                   </div>
                    <div class="col-sm-4 ">
                    <div class="box2">
                       <h4> Free Member</h4>
                         <img src="../images/admin/free.png">
                      <span>   <% 
                          var free;
var l =1;

for(var i =0; i< plan.length; i++){ %>
           
<% 
for( var z=0; z < getUsers.length; z++ ){
  

if(getUsers[z].local.from =='local'){
  var user = getUsers[z].local;
}else{
   var user = getUsers[z].facebook;
}
if(user.plan_id === plan[i].id && plan[i].plan_name === 'Free Trial'){
    free = l;
    l++;
   
}
%>

<%  };  %>  <% } %>
<% if(free){%><% var frees = free %><%= frees %><% } %> <span> 
                     </div>
                   </div>
                    <div class="col-sm-4">
                     <div class="box3">
                       <h4> Paid Member</h4>
                         <img src="../images/admin/paid.png">
                         <span>
                          <% 
                          var paid;
var l =1;

for(var i =0; i< plan.length; i++){ %>
           
<% 
for( var z=0; z < getUsers.length; z++ ){
  

if(getUsers[z].local.from =='local'){
  var user = getUsers[z].local;
}else{
   var user = getUsers[z].facebook;
}
if(user.plan_id === plan[i].id && plan[i].plan_name !== 'Free Trial'){
    paid = l;
    l++;
    console.log(paid);
}
%>

<%  };  %>  <% } %>
<% if(paid){%><% var paids = paid %><%= paids %><% } %>


         
                         </span>
                     </div>
                   </div>
              
                      <div class=" chart-area">

                         <div class="col-sm-8 ">
              <div class="row">
           <div class="col-md-12">
              <div class="tab-list panel panel-white">
                <div class="panel-heading clearfix">
                  <h3 class="panel-title">List of members</h3>
                </div>
               

<div class="panel-body">
  <!-- Nav tabs -->
  <ul role="tablist" class="nav nav-tabs nav-pills">
    <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#home">Free Member</a></li>
    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="profile" href="#profile">Paid Member</a></li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content back">
    <div id="home" class="tab-pane active" role="tabpanel">
       <ul>
        
                 <% for(var i =0; i< plan.length; i++){ %>
           
<% 
 var j = 1;  
 getUsers.forEach( function(users) { 
if(users.local.from =='local'){
  var user = users.local;
}else{
   var user = users.facebook;
}
if(user.plan_id === plan[i].id && plan[i].plan_name === 'Free Trial'){
  %>
    <li><div class="img-view">
    <% if(user.photo){ %>
            <img width="41px" src="./uploads/images/<%-user.photo%>">
         <% }else{%>
          <img src="../images/admin/1.jpg" class="showProImg">   
         <% }%>
             <span class="ranking"><%- j%>:-</span>
             
             <span class="naeme"><%- user.user_name %></span>
              <span class="naeme1 pull-right"><%= plan[i].plan_name %></span>
           </div>
          </li>

          <%
j++; }
%>


<%   });%>

            <% } %> 
     
       </ul>
    </div>
    <div id="profile" class="tab-pane" role="tabpanel">
 <ul>
        
          <% for(var i =0; i< plan.length; i++){ 
           var j = 1;    
           %>
      
<% getUsers.forEach( function(users) { 
if(users.local.from =='local'){
  var user = users.local;
}else{
   var user = users.facebook;
}
if(user.plan_id === plan[i].id && plan[i].plan_name !== 'Free Trial'){
  %>
    <li><div class="img-view">

       

           <% if(user.photo){ %>
           <img width="41px" src="./uploads/images/<%-user.photo%>">
           
             
          
         <% }else{%>
            <img src="../images/admin/1.jpg" class="showProImg"> 
         <% }%>      
          <span class="ranking"><%- j%>:-</span>
            
             <span class="naeme"><%- user.user_name %></span>
              <span class="naeme1 pull-right"><%= plan[i].plan_name %></span>
           </div>
          </li>

          <%
j++; }
%>


<%  });%>

            <% } %> 
     
    
     
       </ul>
  </div>
  </div>

</div></div>
              
        
        </div>
<!--               <div class="col-md-6">
                <div class="recently-viwer">
                    <h5>Recently Viewer</h5>
                    <div class="row">
                    <div class="col-sm-12">
                      <ul>
                         <li><div class="rec-vi">
                            
                            <img width="41px" src="../images/admin/profile_i1.png">
                             <span class="time pull-right">15 min ago</span>
                             <span class="naeme">Chris Fox</span>
                             <span class="addres">What up Buddy</span>
                            
                     </div></li>
                             <li><div class="rec-vi">
                            
                            <img width="41px" src="../images/admin/profile_i2.png">
                             <span class="time pull-right">30 min ago</span>
                             <span class="naeme">Amanda Conlan</span>
                             <span class="addres">Come online and we need to talk about the plan this....</span>
                            
                     </div></li>
                              <li><div class="rec-vi">
                            
                            <img width="41px" src="../images/admin/profile_i3.png">
                             <span class="time pull-right">45 min ago</span>
                             <span class="naeme">Dan Doorack</span>
                             <span class="addres">Hey some good news</span>
                            
                     </div></li>
                           <li><div class="rec-vi">
                            
                            <img width="41px" src="../images/admin/profile_i4.png">
                             <span class="time pull-right">2 hr ago</span>
                             <span class="naeme">Lauren taylor</span>
                             <span class="addres">Nice to talking with you</span>
                            
                     </div></li>
                           <li><div class="rec-vi">
                            
                            <img width="41px" src="../images/admin/profile_i1.png">
                             <span class="time pull-right">2.15 hr ago</span>
                             <span class="naeme">Mike jacktson</span>
                             <span class="addres">this is nice</span>
                            
                     </div></li>                              
                      </ul>
                    </div>
             
                    </div>
                </div>
               
              </div>
                <div class="col-md-0">
                </div> -->
           </div>
       
            </div>

           <!--   <div class="col-sm-8 plan">
             
               <div class="charts-plan">
                <h5>Realtime Pland Details </h5>
                <p>Updated on realtime based on a number of API calls </p>
                <table style="position:absolute;  right:15px;top:13px;;font-size:smaller;color:#545454">
                <tbody class="visit"><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
                <div style="width:4px;height:0;border:5px solid rgb(255,82,82);overflow:hidden"></div></div></td>
                <td class="legendLabel">Basic </td></tr>
                <tr><td class="legendColorBox">
                <div style="border:1px solid #ccc;padding:1px">
                <div style="width:4px;height:0;border:5px solid rgb(0,150,136);overflow:hidden"></div></div></td>
                <td class="legendLabel">Premium</td></tr>
                </tbody>
                </table>
                  <img src="../images/admin/Admin.io   Responsive Material Design Admin Preview   ThemeForest.png" class="img-responsive">
                </div>   
               </div> -->
               <div class="col-sm-4">
                  <div class="col-xs-12 PROGRESS-BAR">

                <h3>
                  Performance listing
                </h3>

                <div class="small-progress">
                  <p class="text-muted medium">
                    OVERALL PAID USERS
                    <span class="pull-right">
                      
                      
                  <% if(paid){

var divid = paids / total;
%>
<%
                       var paidPercent =  divid * 100 %>
                       <%= Math.floor(paidPercent); %>%
                       <% }%>
                    </span>
                  </p>
                   <% if(paid){%>
                  <div type="warning" value="<%= Math.floor(paidPercent); %>" class="progressbar-xs no-margin progress ng-isolate-scope">
  <div style="width: <%= Math.floor(paidPercent); %>%;" ng-transclude="" aria-valuetext="60%" ng-style="{width: percent + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= Math.floor(paidPercent); %>" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar progress-bar-warning"></div>
</div>
<% }else { %>
   <div type="warning" value="0" class="progressbar-xs no-margin progress ng-isolate-scope">
  <div style="width: 0%;" ng-transclude="" aria-valuetext="0%" ng-style="{width: percent + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar progress-bar-warning"></div>
</div>
<% }%>

                </div>
                <br>


                <div class="small-progress">
                  <p class="text-muted medium">
                    FREE USER
                    <span class="pull-right">
                         <% if(free){
                         var divid = frees / total;
                       var freePercent =  divid * 100 %>
                       <%= Math.floor(freePercent); %>%
                       <% }%>
                    </span>

                  </p>
                   <% if(free){ %>
                  <div type="danger" value="<%= Math.floor(freePercent); %>" class="progressbar-xs no-margin progress ng-isolate-scope">
  <div style="width: <%= Math.floor(freePercent); %>%;" ng-transclude="" aria-valuetext="<%= Math.floor(freePercent); %>%" ng-style="{width: percent + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= Math.floor(freePercent); %>" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar progress-bar-danger"></div>
</div>
<% }else{ %>

  <div type="danger" value="92" class="progressbar-xs no-margin progress ng-isolate-scope">
  <div style="width: 0%;" ng-transclude="" aria-valuetext="0%" ng-style="{width: percent + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar progress-bar-danger"></div>
</div>
<% }%>
                </div>
         

        

              </div></div>
             </div>
         
   
          </div>
           </div>
       
            </div>
   
          </div>