

<div class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 padding-l-r">
	<div class="slider">
	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
    
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="kai_banner3_container clearfix">
		<div class="kai_banner_body clearfix">
<% if(bannerinfos){  bannerinfos.forEach( function (bannerinf){ %>	
		

    
			<div ><img src="/uploads/bannerimage/<%- bannerinf.banner_image %>">
<div class="carousel-caption">
        <h2><%- bannerinf.banner_heading %></h2><br>
		<h1> <span><%- bannerinf.banner_subheading %></span></h1>
		
     </div>
			</div>
<%   }); }%>
			
		</div>
		
		<div class="kai_banner_prevbtn side_btn"></div>
		<div class="kai_banner_nextbtn side_btn"></div>
	</div>

  <!-- Left and right controls -->
  
</div>
	</div> <!-- slider -->
  </div>
  </div><!-- row -->
  
</div><!-- container -->
<% if(message){%>
	<%= message %>
<% } %>
<div class="meet_club">
	<div class="container">
	<h1 class="section_heading">	
		<% if(homecontents1){  homecontents1.forEach( function (homecontent1){ %>	
		<%- homecontent1.content_heading %>


<%   }); }%>


</h1>
	<div class="row content-col-bg">
		<div class="col-md-6 fd">
			
		<% if(homecontents1){  homecontents1.forEach( function (homecontent1){ %>	
		<%- homecontent1.content_desc %>





<%  }); }%>
		</div>
		<!-- <div class="col-md-6">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
		</div> -->
	</div><!-- row -->
	<script>
	$(document).ready( function (){
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');

      context.beginPath();
      context.arc(288, 75, 70, 0, Math.PI, false);
      context.closePath();
      context.lineWidth = 5;
      context.fillStyle = 'red';
      context.fill();
      context.strokeStyle = '#550000';
      context.stroke();
      });
    </script>
	<div class="row content-col-bg">
		<div class="col-md-12">
		<% if(traininginfs){  traininginfs.forEach( function (traininginfo){ %>	
		
			<div class="club-item"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-caption="And if there is money left, my girlfriend will receive this car" data-image="/uploads/trainingtype/<%- traininginfo.training_profile %>" data-target="#image-gallery"><img src="/uploads/trainingtype/<%- traininginfo.training_profile %>" alt="image" class="attachment-club-square wp-post-image " alt="2" width="280" height="280"
			></a><div class="caption-bg" > <canvas id="myCanvas" height="110" width="280"></canvas></div><div class="caption"><%- traininginfo.trainer_title %></div></div>
			 <%   }); }%>
			
			

<!-- The Modal -->

			
		</div>
		
	</div><!-- row -->

	</div><!-- container -->

</div><!-- meet_club -->



<div class="meet_club">
	<div class="container">
	<h1 class="section_heading"><% if(contents1){  contents1.forEach( function (content1){ %>	
		<%- content1.heading %>

     <%   }); }%></h1>
	<div class="row content-col-bg">
		<h3 class="section_slogan" style="color:;">	
		<% if(contents1){  contents1.forEach( function (content1){ %>	
		<%- content1.desc %>

    <%   }); }%> </h3>
		
	</div><!-- row -->
	
	<div id="team" class="team"><div>
<% if(trainerinfs){  trainerinfs.forEach( function (trainerinf){ %>

	<div class="col-sm-4" style="float:left;"><div class="members animated fadeInLeft visible" data-animation="fadeInLeft" data-animation-delay="300"><div class="content_slider_text_block_wrap"><div class="team-img"><img src="/uploads/trainerprofile/<%- trainerinf.trainer_profile %>" alt="image" class="member_photo" width="250" height="320"></div><div class="team-inner"><div class="team-top center"><h4 class="membername"><%- trainerinf.trainer_name %></h4><br><span class="membername_dec"><%- trainerinf.trainig_type %></span></div></div></div><div class="clear"></div></div><div class="sharemedeia"><a target="_self" href="<%- trainerinf.trainer_facebook %>"><i class="fa fa-facebook"></i></a><a target="_self" href="<%- trainerinf.trainer_twiter %>"><i class="fa fa-twitter"></i></a><a target="_self" href="<%- trainerinf.trainer_google %>"><i class="fa fa-google-plus"></i></a></div></div>

<%   }); }%> 

	</div>

	</div><!-- container -->

</div><!-- meet_club -->

<!-- <div class="section-our-classes">
	<div class="overrelay9">&nbsp;</div>
	<div class="container">
		<h1 class="section_heading" style="color:#ffffff; padding-bottom:;">Our Classes</h1>
		<h3 class="section_slogan" style="color:#ffffff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. </h3>


	<div class="row"><div class="col-md-12 secover"> 
  <div class="white-bg pad-bottom-20 col-md-6 animated fadeIn visible" data-animation-delay="300" data-animation="fadeIn"><div class="thums"> <img src="/frontend/images/5.jpg" class="attachment-post-thumbnail wp-post-image" alt="4" width="600" height="270"></div>
	<div class="class-name class_title" style="background-color:#dd9933"> <h3>Body Building</h3><h4> <b>with</b> John Da Vinci</h4></div>
	<div class="row class-details"><div class="col-md-7"><div class="date">
    <i class="fa fa-calendar" aria-hidden="true"></i><div class="date-detail">Sunday October 14</div>
    </div>
   <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><div class="date-detail" style=" text-transform:uppercase;">12:30pm</div>
   </div></div>
       <div class="col-md-5"><div class="price-new"><sup>$</sup><span style="color:#dd9933">99</span><sup style="color:#dd9933;">99</sup>
	</div></div></div>
	<div class="center-new"><a class="class-btn" href="#" style="background-color:#dd9933">LEARN HOW <i class="fa fa-angle-double-right"></i></a></div></div>
	 
  <div class="white-bg pad-bottom-20 col-md-6 animated fadeInRight visible" data-animation-delay="300" data-animation="fadeInRight"><div class="thums"> <img src="/frontend/images/6.jpg" class="attachment-post-thumbnail wp-post-image" alt="3" width="600" height="270"></div>
	<div class="class-name class_title" style="background-color:#9ac928"> <h3>Athletic Training</h3><h4> <b>with</b> Kate Nuremberg</h4></div>
	<div class="row class-details"><div class="col-md-7"><div class="date">
    <i class="fa fa-calendar" aria-hidden="true"></i><div class="date-detail">Sunday October 14</div>
    </div>
   <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><div class="date-detail" style=" text-transform:uppercase;">2:00pm</div>
   </div></div>
       <div class="col-md-5"><div class="price-new"><sup>$</sup><span style="color:#9ac928">49</span><sup style="color:#9ac928;">99</sup>
	</div></div></div>
	<div class="center-new"><a class="class-btn" href="#" style="background-color:#9ac928">LEARN HOW <i class="fa fa-angle-double-right"></i></a></div></div>
	 
  <div class="white-bg pad-bottom-20 col-md-6 animated fadeInLeft visible" data-animation-delay="300" data-animation="fadeInLeft"><div class="thums"> <img src="/frontend/images/7.jpg" class="attachment-post-thumbnail wp-post-image" alt="2" width="600" height="270"></div>
	<div class="class-name class_title" style="background-color:#754dae"> <h3>Cardio Practice </h3><h4> <b>with</b> Melissa Thomson</h4></div>
	<div class="row class-details"><div class="col-md-7"><div class="date">
    <i class="fa fa-calendar" aria-hidden="true"></i><div class="date-detail">Thursday September 14</div>
    </div>
   <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><div class="date-detail" style=" text-transform:uppercase;">9:30pm</div>
   </div></div>
       <div class="col-md-5"><div class="price-new"><sup>$</sup><span style="color:#754dae">49</span><sup style="color:#754dae;">99</sup>
	</div></div></div>
	<div class="center-new"><a class="class-btn" href="#" style="background-color:#754dae">LEARN HOW <i class="fa fa-angle-double-right"></i></a></div></div>
	 
  <div class="white-bg pad-bottom-20 col-md-6 animated fadeInRight visible" data-animation-delay="300" data-animation="fadeInRight"><div class="thums"> <img src="/frontend/images/8.jpg" class="attachment-post-thumbnail wp-post-image" alt="1" width="600" height="270"></div>
	<div class="class-name class_title" style="background-color:#36c9f2"> <h3>Weight Lifting</h3><h4> <b>with</b> Bill Jones</h4></div>
	<div class="row class-details"><div class="col-md-7"><div class="date">
    <i class="fa fa-calendar" aria-hidden="true"></i><div class="date-detail">Tuesday August 14</div>
    </div>
   <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><div class="date-detail" style=" text-transform:uppercase;">1:30am</div>
   </div></div>
       <div class="col-md-5"><div class="price-new"><sup>$</sup><span style="color:#36c9f2">99</span><sup style="color:#36c9f2;">99</sup>
	</div></div></div>
	<div class="center-new"><a class="class-btn" href="#" style="background-color:#36c9f2">LEARN HOW <i class="fa fa-angle-double-right"></i></a></div></div>
	</div></div>


	</div><!-- container -->

</div><!--section-our-classes--> 


<div class="section-pricing">
	<div class="container">
	
		<h1 class="section_heading"><% if(subscplancont){  subscplancont.forEach( function (plancont){ %>	
		<%- plancont.title %>

    <%   }); }%></h1>

		<h3 class="section_slogan" style="color:;"><% if(subscplancont){  subscplancont.forEach( function (plancont){ %>	
		<%- plancont.content_desc %>

    <%   }); }%></h3>
<div class="row zozo-pricing">
  <% if(plans){ var i =0; plans.forEach( function (plan){ %>	
		<div id="zozo-pricing-table<%- i %>" class="col-md-3 col-xs-6 style1"><style type="text/css" scoped="scoped">#zozo-pricing-table<%- i %>.style1 #pricing-plan-1 .zozo-pricing-title {background-color:#48c5e8;color:#ffffff;}
 #zozo-pricing-table<%- i %>.style1 #pricing-plan-1 .zozo-pricing-button{1}
#zozo-pricing-table<%- i %>.style1 #pricing-plan-1 .zozo-pricing-button:hover{color:#48c5e8;}
#zozo-pricing-table.style1 #pricing-plan-1 .zozo-features-list li:hover .fa{color:#ffffff !important;}
</style><div id="pricing-plan-1" class="pricing-plan-list"><div class="zozo-pricing-title text-center" style="background-color:#48c5e8"><%- plan.plan_duration %></div><div style="background-color:#48c5e8" class="down-arrow">&nbsp;</div><div class="zozo-price-item text-center"><div class="zozo-prices"><p class="price"><sub style="color:#000000">$</sub><span style="color:#48c5e8"><%- plan.price %></span><sub style="color:#48c5e8">$</sub></p></div></div><ul class="zozo-features-list list-unstyled"><li class="item-features features-1 text-center"><%- plan.plan_name %></li></ul><div class="zozo-pricing-btn-item text-center"><a class="zozo-pricing-button btn btn-primary btn-lg" href="/signup?plan=<%- plan.id %>" target="_self">SIGNUP NOW</a></div></div></div>


<%  i++; }); }%>
</div>
	</div><!-- container -->
</div><!--section-pricing-->


		
		
		
	 

<div id="66" class="parallax aditionalpages animated class66 fadeInUp visible" data-animation="fadeInUp" data-animation-delay="600">
<div class="container"><div id="zozo_testimonial_4" class="zozo-testimonial carousel slide" data-ride="carousel"><div class="carousel-inner"><div class="item"><div class="grid row"><div class="testimonial-author-img col-md-4"><div class="image-effect-top"></div><div class="image-effect-bottom"></div><div class="side-arrow"></div><img class="img-responsive img-circle" src="/uploads/homepageimage/<% if(homecontents2){  homecontents2.forEach( function (homecontent2){ %>	
		<%- homecontent2.home_img %>

    <%   }); }%>" alt="testimonial"></div><div class="testimonial-info"><div class="testimonial_small">Had a very good time at the gym today.</div><div class="testimonial_big"><% if(homecontents2){  homecontents2.forEach( function (homecontent2){ %>	
		<%- homecontent2.title %>

    <%   }); }%></div><div class="client_name">Ellen S.</div></div></div></div><div class="item active"><div class="grid row"><div class="testimonial-author-img col-md-4"><div class="image-effect-top"></div><div class="image-effect-bottom"></div><div class="side-arrow"></div><img class="img-responsive img-circle" src="/uploads/homepageimage/<% if(homecontents2){  homecontents2.forEach( function (homecontent2){ %>	
		<%- homecontent2.home_img %>

    <%   }); }%>" alt="twstimonial1"></div><div class="testimonial-info"><div class="testimonial_small">Had a very good time at the gym today.</div><div class="testimonial_big"><% if(homecontents2){  homecontents2.forEach( function (homecontent2){ %>	
		<%- homecontent2.title %>

    <%   }); }%></div><div class="client_name">Ellen S.</div></div></div></div></div></div>

						</div>
</div>

<!DOCTYPE html>
<html>
<head>

</head>
<div class="row">

   


<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                </div>


                
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current){
        $('#show-previous-image, #show-next-image').show();
        if(counter_max == counter_current){
            $('#show-next-image').hide();
        } else if (counter_current == 1){
            $('#show-previous-image').hide();
        }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr){
        var current_image,
            selector,
            counter = 0;

        $('#show-next-image, #show-previous-image').click(function(){
            if($(this).attr('id') == 'show-previous-image'){
                current_image--;
            } else {
                current_image++;
            }

            selector = $('[data-image-id="' + current_image + '"]');
            updateGallery(selector);
        });

        function updateGallery(selector) {
            var $sel = selector;
            current_image = $sel.data('image-id');
            $('#image-gallery-caption').text($sel.data('caption'));
            $('#image-gallery-title').text($sel.data('title'));
            $('#image-gallery-image').attr('src', $sel.data('image'));
            disableButtons(counter, $sel.data('image-id'));
        }

        if(setIDs == true){
            $('[data-image-id]').each(function(){
                counter++;
                $(this).attr('data-image-id',counter);
            });
        }
        $(setClickAttr).on('click',function(){
            updateGallery($(this));
        });
    }
});
</script>

<style>

.club-item .thumbnail {
	padding: 0px;
	border: 0px;
	height: 260px;
}


.club-item img {
	height: 100%;
	min-height: 280px;
}

club-item .caption-bg {
	margin-top: -62px;
}

.club-item:hover::before {
	display: none;
}

</style>




	
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet" type="text/css">
<link href="/css/bannerstyle.css" rel="stylesheet" type="text/css" />
<script src="/js/banner.js" type="text/javascript"></script>

<style>
.carousel-caption {
    left: 17%;
    padding-bottom: 99px;
    padding-top: 0;
    right: 0;
}
</style>


	




 


