/**public style**/










/**main start **/





/*kai_banner_container start*/








/*kai_banner3_container start*/



.kai_banner3_container {
  width: 980px;
  height:400px;
  position: relative;
  overflow: hidden;
}

.kai_banner3_container .kai_banner_body {
  white-space: nowrap;
  word-space: -4px;
  letter-spacing: -6px;
  position: relative;
}

.kai_banner3_container .kai_banner_body div {
  display: inline-block;
  width: 100%;
  background-position: center;
}

.kai_banner3_container .kai_banner_body img { width: 100%; }

.kai_banner3_container .kai_banner_bottombtns {
  position: absolute;
  bottom: 30px;
  z-index: 200;
  text-align: center;
  width: 100%;
}



.kai_banner3_container .side_btn {
  width: 30px;
  height: 30px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 200;
  margin: 50px;
}

.kai_banner3_container .side_btn:hover {
  border-color: rgba(0,0,0,0.2);
  border-width: 6px;
}

.kai_banner3_container .kai_banner_prevbtn {
  left: 2.5%;
  transform: translateY(-100%) rotate(225deg);
}

.kai_banner3_container .kai_banner_nextbtn {
  right: 2.5%;
  transform: translateY(-100%) rotate(45deg);
}

/*kai_banner2_container start*/



.kai_banner2_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.kai_banner2_container .kai_banner_body {
  white-space: nowrap;
  word-space: -4px;
  letter-spacing: -6px;
  position: relative;
}



.kai_banner2_container .kai_banner_body img {
  display: block;
  width: 100%;
}

.kai_banner2_container .side_btn {
  width: 45px;
  height: 45px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 200;
  margin: 50px;
}

.kai_banner2_container .side_btn:hover {
  border-color: rgba(0,0,0,0.2);
  border-width: 6px;
}

.kai_banner2_container .kai_banner_prevbtn {
  left: 2.5%;
  transform: translateY(-100%) rotate(225deg);
}

.kai_banner2_container .kai_banner_nextbtn {
  right: 2.5%;
  transform: translateY(-100%) rotate(45deg);
}