<!-- stopWatch -->
<style>
.Phon_err{
  color:red;
}
</style>
<script type="text/javascript">
$(document).ready( function (){
  var button = $("#button");

button.on('click', function (e) {
  e.preventDefault();
  $('.texMg').show();
    $('.texMgg').show();
  
    var total = $('.round').val();
  if(input.val() !== '0 Hours:0 Minutes:0 Seconds'){
if(total){
  //   var form_data = new FormData();
     $(this).parents('#formSub').find("#result").val(input.val());
     var time_spend = $("#result").val();

      var WOD_Id = $(this).parents('#formSub').find(".WodId").val();
    
   
       var duration = $(this).parents('#formSub').find("#duration").val();

/*
        var squats = $(this).parents('#formSub').find("#squats").val();
if(squats){



}else{
  squats =0;
}

        var push = $(this).parents('#formSub').find("#push").val();

        if(push){

}else{
  push =0;
}


        var sit = $(this).parents('#formSub').find("#sit").val();

    if(sit){

}else{
  sit =0;
}

var total = parseInt(squats)+parseInt(push)+parseInt(sit);*/
      /* form_data.append('WOD_Id', WOD_Id);
             form_data.append('time_spend', time_spend);
               form_data.append('duration', duration);*/
  
obj = {};
obj.WOD_Id = WOD_Id;
obj.time_spend = time_spend;
obj.duration = duration;
obj.total =total;

  $.ajax({
            url: '/recordSave',
            type: 'POST',
             data: JSON.stringify(obj),
                contentType: 'application/json'
        })
                .done(function(e) {

 $('.texMgg').text(e);
$('.texMg').text('');

                });
}else{
  $('.round').addClass('error');
   $('.texMg').text('Please Fill the rounds');
}
}else{
 $('.texMg').text('Please enter the time');
}
})
});
</script>

<!-- css -->
<link id="styleSheet0" rel="stylesheet" type="text/css" href="../frontend/css/stopWatch/light.css">

<link id="styleSheet1" rel="stylesheet" type="text/css" href="../frontend/css/stopWatch/common.css">

<!-- js -->
<script src="../frontend/js/stopWatch/jsCookie.js" type="text/javascript"></script>
<script src="../frontend/js/stopWatch/index.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
/*const el = document.getElementById('draggable');

document.getElementById('oops').addEventListener('click', () => {
  if (screenfull.enabled) {
    screenfull.request(el);
  }
});*/

</script>
<!-- drag div 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<!-- full scrren and drag-->
<style>
  
  #video{ 
    position: relative; 
  }
#draggable {
      background: linear-gradient(to bottom, #637f85 0%, #001f25 100%);
    border: 5px solid #e9e9e3;
    color: #00b8df;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 182px;
    z-index: 2147483647;
    padding: 5px;
    height: 182px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #00b8df!important;
    box-shadow: 3px 13px 20px #000;
}
#timer {
    background-color: transparent;
    color: #00b8df;
    font-size: 24px !important;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: -15px;
    padding: 0 9px;
    width: 150px;
}
#pauseButton, #clearButton {
    background-color: #00b8df;
    border: 0 none;
    color: #001f25;
}
#pauseButton, #clearButton:hover {
    background-color: #00b8df;
    border: 0 none;
    color: #001f25;
}
#startButton {
  background-color: #00b8df;
    border: 0 none;
    color: #001f25;
    margin-left: 20px;
}
#pauseButton {
    margin-left: 12px;
}
#clearButton{
   margin-left: 12px;
}
#draggable button {
    border: 1px solid darkturquoise;
    padding: 0 10px;
}
.shyri-heading {
    color: #666;
    padding: 0 20px;
    font-style: 16px;
}
#draggable > p{
     padding: 28px 0 0 46px;
}
#video {
    margin: 72px auto 0;
 
}
 #video > button {
    background-color: #001f25;
    border: 0 none;
    color: #00b8df;
    float: right;
    padding: 5px 17px;
}
.WORK-OUT-name {
    color: #333;
    text-transform: capitalize;
}
.Discriptionsss {
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 300;
}
.orderes {
    color: #00b8df;
    font-size: 16px;
}
.modal-content-abcd {
    background-color: white;
    padding: 20px;
}
.btn.btn-default.cls {
    background-color: #001f25;
    border: 0 none;
    border-radius: 0;
    color: #00b8df;
    padding: 7px 15px;
}
.modal-header-abcd1 h4 {
    color: #001f25;
    text-align: center;
    margin-bottom: 12px;
}
.watchTime {
    border: 1px solid #00b8df;
    border-radius: 0;
    height: 38px;
    margin-bottom: 13px;
    width: 100%;
}
.SUBMIT {
    background-color: #00b8df;
    border: medium none;
    padding: 4px 15px;
}
.modal-header-abcd1 {
    border-bottom: 1px solid #ebebeb;
}
.texMg {
    padding-left: 15px;
}
.pin {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #fff 25%, #00b8df 100%) repeat scroll 0 0;
    height: 21px;
    margin-top: -33px;
    transform: rotate(46deg);
    width: 30px;
}
.stpicon {

    font-size: 65px;
    margin-left: 59px;
    margin-top: -216px;
}
.durationpicker-innercontainer {
    display: inline-block !important;
    width: 164px;
}
.durationpicker-duration {
    border: 1px solid #00b8df;
    border-radius: 0;
    padding: 5px;
}
.durationpicker-container.form-control {
     border:none;
     box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px;
    height: 66px!important;
}


</style>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $('#draggable').hide();
    $( "#draggable" ).draggable();

      $('video').click(function(){
          $('#draggable').show();
      });

  } );
  </script>

<!-- end of drag div -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content-abcd">
      <div class="modal-header-abcd1">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Time Submit</h4>
      </div> 
      <form id="formSub">
      <span class="texMg" style="color:red"></span>
      <span class="texMgg" style="color:green"></span>
      <div class="modal-body parentsDiv">
        <p><label>Time elapsed</label>
        <input type="hidden" id="duration" name="duration">



<input id="result" type="hidden" name="time_spend" class="form-control">

<label>Rounds</label>
<div class="parentsDiv">
<select class="form-control round">
  <option value="">Please select the rounds</option>
  <% for( var i=1; i<51;i++){ %>
  <option value="<%- i %>"><%- i %></option>
  <% } %>
</select>
</div>
<!-- <select id="push">
  <option value="">Select Push Ups</option>
<% for(var i=1;i<1001;i++){ %>
   <option value="<%- i%>"><%- i%></option>

<% }%>
</select>

<select id="sit">
  <option value="">Select Sit Ups</option>
<% for(var i=1;i<1001;i++){ %>
   <option value="<%- i%>"><%- i%></option>

<% }%>
</select>

<select id="squats">
  <option value="">Select Squats</option>
<% for(var i=1;i<1001;i++){ %>
   <option value="<%- i%>"><%- i%></option>

<% }%>
</select>
 -->
      <input type="hidden" name="total" class="total">
         <input type="hidden" name="WOD_Id" class="WodId">
            <input type="submit" id="button" class="SUBMIT" value="Submit Time">
        </p>
      </div>
      </form>
     <div class="modal-footer">
        <button type="button" class="btn btn-default cls" data-dismiss="modal">Close</button>
     </div>
    </div>

  </div>
</div>
<!-- end stopWatch -->
<% if(workouts){%>
<% console.log(workouts); %>
<% JSON.stringify(workouts); 
if(message.length > 0){
 %>
 <%= message %>
 <%  } %>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div id="video">

<video width="100%" height="100%" class="embed-responsive-item vidoCls" controls poster="./uploads/video/<%= workouts.video_img %>" workId = '<%= workouts.id %>'>
        <source src="./uploads/video/<%= workouts.video_link %>" type="video/wmv">
        <source src="./uploads/video/<%= workouts.video_link %>" type="video/mp4">
         <source src="./uploads/video/<%= workouts.video_link %>" type="video/mp3">

</video>

  <button id="oops">Video Show on fullscreen</button>

<a><div id="draggable" class="ui-widget-content " style="position: absolute">
  <p> StopWatch</p>
  <div class="" id="">
<!-- <form>
  Light
  <input type="radio" name="theme" value="../frontend/css/stopWatch/light.css">
  Dark
  <input type="radio" name="theme" value="../frontend/css/stopWatch/dark.css">
</form> -->



<div id="timer"></div>
<button id="startButton"><i class="fa fa-play" aria-hidden="true"></i>
</button>
<button id="pauseButton"><i class="fa fa-pause" aria-hidden="true"></i>
</button>
<button id="clearButton"><i class="fa fa-stop" aria-hidden="true"></i>
</button>
<div id="additionalTime" style="display:none">0</div>
</div>
<div class="stpicon">
<i class="fa fa-sort-desc" aria-hidden="true"></i>
 </div>
 <div class="pin"></div>
</div></a>

</div>
</div>
<div class="col-sm-1"></div>
</div>
<div class="clearfix"></div>

<div class="bg-des">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class ="shyri-heading">
<p class="WORK-OUT-name">
Name : <%= workouts.video_title %></p>
<p class="Discriptionsss">
Description :   <%
               if(workouts.video_des){
 var clean = sanitizeHtml(workouts.video_des, {
  allowedTags: [ 'h3', 'h4', 'h5', 'h6', 'blockquote', 'p', 'a', 'ul', 'ol',
  'nl', 'li', 'b', 'i', 'strong', 'em', 'strike', 'code', 'hr', 'br', 'div',
  'table', 'thead', 'caption', 'tbody', 'tr', 'th', 'td', 'pre','span','img' ],
allowedAttributes: {
  a: [ 'href', 'name', 'target', 'data-*','style', 'align', 'alt', 'center', 'bgcolor'],
  span :['style'],
  table : ['style','class','border','align'],
  img: [ 'src','data:*','class','style','alt','align' ]
}, 
selfClosing: [ 'img', 'br', 'hr', 'area', 'base', 'basefont', 'input', 'link', 'meta' ],
allowedSchemes: [ 'http', 'https', 'ftp', 'mailto'],
allowedSchemesByTag: {},
allowProtocolRelative: true
}); %>
<%- clean %>
<%
}
%></p>
<!-- <p class="orderes">
Order : <%= workouts.order %></p> -->
</div>
</div>
<div class="col-sm-3"></div>
</div>
</div> <!--bg-des -->
<% }else{ %>
No Workout...
<% } %>

<script src="../frontend/js/fullScreenApi/screenfull.js" type="text/javascript"></script>

<!-- time -->
<script src="../js/Time Choose/duration-picker.js"></script>
<script>
var input = $("#duration");
// Change this to use options
input.durationPicker();
</script>


<!--  <div class="blog">
        <div class="container">
        <div class="iframe" style="background: url('../images/bgd.png') no-repeat; height:400px;width:100%">

       <iframe width="420" height="345" src="https://www.youtube.com/embed/XGSy3_Czz8k">
        </iframe>
         
        </div>

        </div>
     </div>
      <div class="blog-bg">
       <div class="container">
            <div class="shyri-heading">
                "Shari"
            </div>
           <div class="shyri">
               <div class="row">
               <div class="col-sm-6">
                   <span>Warm up :</span>
                   <p>Plank/Sit Up<br>
4 min AMRAP of:<br>
<br>
Plank 30 sec<br>
10 Sit Ups </p>
               </div>
               <div class="col-sm-6">
                 <span>Skill:</span><p> Practice Handstand hold on wall (1 min)<br>
Practice Wall Walk-Up<br>
Practice Plank Hold </p>
               </div>
               </div>
           </div>
              <div class="shyri">
               <div class="row">
               <div class="col-sm-6">
                  <span> METCON:</span>

<p>"Shari"<br>
<br>
For Time:<br>
<br>
Accumulate 100 m of Handstand Walking<br>
*3 Burpee penalty every time you come down</p> 
               </div>
               <div class="col-sm-6">
                <span> RX +:</span><p> Perform in 20 m increments.<br>
Go back to last 20 m increment if you cannot finish <br>
20 m unbroken.<br>
<span>Scaled:</span> 100 m of Walking lunges *3 burpees <br>
every 20 m. </p>
               </div>
               </div>
           </div>
              <div class="shyri">
               <div class="row">
               <div class="col-sm-6">
                  <span>Coaching Points:</span>
<p>Rest as needed after burpee penalty.<br>
Active shoulders and feet together on.<br>
Should be able to walk 10 m unbroken in handstand to attempt RX.</p>
               </div>
               <div class="col-sm-6">
                 
               </div>
               </div>
           </div>
       </div>
      </div>