<script src="../frontend/js/front_page.js" type="text/javascript"></script>
<style type="text/css">
   div.timer {
   border:1px #666666 solid;
   width:130px;
   height:35px;
   line-height:35px;
   font-size:20px;
   /*font-family:"Courier New", Courier, monospace;*/
   text-align:center;
   }
   .modal-title {
   height: 20px;
   color: black;
   text-align: center;
   }
   .error{
   color:red;
   }
   .success{
   color:green;
   }
</style>
<input type="hidden" class="form-control cnty_Nm" name="country_name">
<% if(userDetail.from != 'facebook'){ %>
<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <div class="photoContainer">
            <input type="hidden" value="<%= userDetail.from %>" name='from' class='from'>
            <div id="formdiv">
               <div class="profile_info_top">
                  <div class="row">
                     <div class="col-sm-3">
                        <div class="profile_pic">
                           <form enctype="multipart/form-data" action="" method="post">
                              <label for="file">
                                 <div id="image" style="margin-top:5%;"></div>
                              </label>
                              <% if(userDetail.photo){ %>
                              <img src="./uploads/images/<%= userDetail.photo %>" class="showImg" alt="profile img">
                              <% }else{ %>
                              <img src="../images/admin/1.jpg" class="showImg" alt="profile img">
                              <% } %>
                              <span class="change_profile_img">
                                 <div id="filediv">
                                    <input name="file[]" type="file" id="file" class="brwswerrrr"/>
                                    <span class="brwseers">browse</span>
                                 </div>
                              </span>
                           </form>
                        </div>
                     </div>
                     <!-- profile_pic -->
                     <div class="col-sm-8">
                        <div class="profile_name">
                           <h1 class="upName">
                              <%= userDetail.user_name %> (<%= userDetail.first_name + ' ' + userDetail.last_name %>)
                           </h1>
                        </div>
                     </div>
                  </div>
                  <!-- profile_name -->
               </div>
            </div>
            <!-- cooment section -->
            <span class="msg"></span>
            <!-- end of cooment section -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger">
               <%= message %>
            </div>
            <% } %>
            <div class="profile_info">
               <h2 class="section_heading pull-left">Personal Info</h2>
               <div class="updateProfile">
                  <input type="hidden" value="<%= user.id %>" id='usrId'>
                  <input type="hidden" value="<%= userDetail.user_name %>" id='usrnm'>
                  <form method="POST">
                     <div class="lab">User Name :</div>
                     <input type="text" attr="user_name" name="user_name" value="<%= userDetail.user_name %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.first_name %>" id='usrfn'>
                  <form method="POST">
                     <div class="lab">
                        First Name :
                     </div>
                     <input type="text" attr="first_name" name="first_name" value="<%= userDetail.first_name %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.last_name %>" id='usrln'>
                  <form method="POST">
                     <div class="lab">
                        Last Name :
                     </div>
                     <input type="text" attr="last_name" name="last_name" value="<%= userDetail.last_name %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.email %>" id='usrmail'>
                  <form method="POST">
                     <div class="lab">
                        Email : 
                     </div>
                     <input type="email" attr="email" name="email" value="<%= userDetail.email %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <form method="POST">
                     <input type="hidden" class='done'>
                     <input type="hidden" class='session' value="yes">
                     <div class="lab">
                        Phone : 
                     </div>
                     <input type="text" attr="phone" value="<%= userDetail.phone %>" readonly='readonly' class="fields phonCnt">
                     <button type="button" class="pull-right showBig">Edit</button>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.age %>" id='usrage'>
                  <form method="POST">
                     <div class="lab">
                        Age :
                     </div>
                     <input type="text" attr="age" name="age" value="<%= userDetail.age %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.waist %>" id='usrwst'>
                  <form method="POST">
                     <div class="lab">
                        Waist :
                     </div>
                     <input type="text" attr="waist" name="waist" value="<%= userDetail.waist %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.fitness %>" id='usrfitns'>
                  <form method="POST">
                     <div class="lab">
                        Fitness : 
                     </div>
                     <input type="text" attr="fitness" value="<%= userDetail.fitness %>" readonly='readonly' class="fields" required>
                     <button type="button" class="edit pull-right" class="edit pull-right ">Edit</button>
                     <div class="fitLevel">
                        <select name="fitness" attr="fitness" class="selectAdd fields">
                           <option value="Beginner" <% if(userDetail.fitness == 'Beginner'){%>selected<%}%>  >Lifestyle (Beginner)</option>
                           <option value="intermediate" <% if(userDetail.fitness == 'intermediate'){%>selected<%}%>>Performance (intermediate)</option>
                           <option value="advanced" <% if(userDetail.fitness == 'advanced'){%>selected<%}%>>Competitor (advanced)</option>
                        </select>
                     </div>
                     <span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <!--   <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.WOD_routine %>" id='usrWOD'>
                  <form method="POST">
                  <div class="lab">
                  WOD Routine : </div>
                  <input type="text" attr="WOD_routine" value="<%= userDetail.WOD_routine %>" readonly='readonly' class="fields" required>
                  <button type="button" class="edit pull-right" class="edit pull-right ">Edit</button>
                      <div class="RoutineLevel">
                          <select name="WOD_routine" attr="WOD_routine" class="selectRoutine fields">
                  <option value="Daily WOD" <% if(userDetail.WOD_routine == 'Daily WOD'){%>selected<%}%>  >Daily WOD</option>
                  
                  <option value="Travel WOD on Your way" <% if(userDetail.WOD_routine == 'Travel WOD on Your way'){%>selected<%}%>>Travel WOD on Your way</option>
                  </select>
                      </div>
                     <span class="alertText"></span>
                  
                  
                  
                  
                      <div class="hideField">
                          <input type="submit" value="Save" class="sub">
                          <button type="button" class="closeTab">Cancel</button>
                      </div>
                      <br/>
                  </form>
                  </div> -->
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.weight %>" id='usrweght'>
                  <form method="POST">
                     <div class="lab">
                        Weight : 
                     </div>
                     <input type="text" attr="weight" name="weight" value="<%= userDetail.weight %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.height %>" id='usrheght'>
                  <form method="POST">
                     <div class="lab">
                        Height : 
                     </div>
                     <input type="text" attr="height" name="height" value="<%= userDetail.height %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right ">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
            </div>
            <div class="clearfix ">
               <div class="lab">
                  <div class="password-profile">
                     Password :
                  </div>
               </div>
               <div class="col-sm-8 pd0">
                  <div class="conts">
                     <a class="pwd_change">Change Password</a>
                     <div class="openForPwd">
                        <form action="/pwdChange" id="pwdChange" class="tog" method="POST">
                           Old Password : <input type="password" name="old_pwd"><br/> New Password : <input type="password" name="password">
                           <br>
                           <input type="submit" value="Change" class="ch">
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<% } else{ %>
<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <div class="photoContainer">
            <input type="hidden" value="<%= userDetail.from %>" name='from' class='from'>
            <div id="formdiv">
               <div class="profile_info_top">
                  <div class="profile_pic">
                     <form enctype="multipart/form-data" action="" method="post">
                        <label for="file">
                           <div id="image" style="margin-top:5%;">
                           </div>
                        </label>
                        <% if(userDetail.photo){ %>
                        <img src="./uploads/images/<%= userDetail.photo %>" class="showImg" alt="profile img">
                        <% }else{ %>
                        <img src="../images/admin/1.jpg" class="showImg" alt="profile img">
                        <% } %>
                        <span class="change_profile_img">
                           <div id="filediv"><input name="file[]" type="file" id="file" class="brwswerrrr"/>
                              <span class="brwseers">browse</span>
                           </div>
                        </span>
                     </form>
                  </div>
                  <!-- profile_pic -->
                  <div class="profile_name">
                     <h1>
                        <%= userDetail.user_name %> <span>(<%= userDetail.first_name + ' ' + userDetail.last_name %>)</span>
                     </h1>
                  </div>
                  <!-- profile_name -->
               </div>
            </div>
            <!-- cooment section -->
            <span class="msg"></span>
            <!-- end of cooment section -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger">
               <%= message %>
            </div>
            <% } %>
            <div class="profile_info">
               <div class="updateProfile">
                  <input type="hidden" value="<%= user.id %>" id='usrId'>
                  <input type="hidden" value="<%= userDetail.user_name %>" id='usrnm'>
                  <form method="POST">
                     <div class="lab">
                        User Name :
                     </div>
                     <input type="text" attr="user_name" name="user_name" value="<%= userDetail.user_name %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.first_name %>" id='usrfn'>
                  <form method="POST">
                     <div class="lab">
                        First Name : 
                     </div>
                     <input type="text" attr="first_name" name="first_name" value="<%= userDetail.first_name %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.last_name %>" id='usrln'>
                  <form method="POST">
                     <div class="lab">
                        Last Name :
                     </div>
                     <input type="text" attr="last_name" name="last_name" value="<%= userDetail.last_name %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.email %>" id='usrmail'>
                  <form method="POST">
                     <div class="lab">
                        Email :
                     </div>
                     <input type="email" attr="email" name="email" value="<%= userDetail.email %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <form method="POST">
                     <input type="hidden" class='done'>
                     <input type="hidden" class='session'>
                     <div class="lab phonCnt">
                        Phone : 
                     </div>
                     <input type="text" attr="phone" value="<%= userDetail.phone %>" readonly='readonly' class="fields">
                     <button type="button" class="pull-right showBig">Edit</button>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.age %>" id='usrage'>
                  <form method="POST">
                     <div class="lab">
                        Age : 
                     </div>
                     <input type="text" attr="age" name="age" value="<%= userDetail.age %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.waist %>" id='usrwst'>
                  <form method="POST">
                     <div class="lab">
                        Waist :
                     </div>
                     <input type="text" attr="waist" name="waist" value="<%= userDetail.waist %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.fitness %>" id='usrfitns'>
                  <form method="POST">
                     <div class="lab">
                        Fitness : 
                     </div>
                     <input type="text" attr="fitness" value="<%= userDetail.fitness %>" readonly='readonly' class="fields" required>
                     <button type="button" class="edit pull-right" class="edit pull-right">Edit</button>
                     <div class="fitLevel">
                        <select name="fitness" attr="fitness" class="selectAdd fields">
                           <option value="Beginner" <% if(userDetail.fitness == 'Beginner'){%>selected<%}%>  >Lifestyle (Beginner)</option>
                           <option value="intermediate" <% if(userDetail.fitness == 'intermediate'){%>selected<%}%>>Performance (intermediate)</option>
                           <option value="advanced" <% if(userDetail.fitness == 'advanced'){%>selected<%}%>>Competitor (advanced)</option>
                        </select>
                     </div>
                     <span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <!-- 
                  <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.WOD_routine %>" id='usrWOD'>
                  <form method="POST">
                  <div class="lab">
                    WOD Routine :</div> <input type="text" attr="WOD_routine" value="<%= userDetail.WOD_routine %>" readonly='readonly' class="fields" required>
                    <button type="button" class="edit pull-right" class="edit pull-right">Edit</button>
                    <div class="RoutineLevel">
                        <select name="WOD_routine" attr="WOD_routine" class="selectRoutine fields">
                  <option value="Daily WOD" <% if(userDetail.WOD_routine == 'Daily WOD'){%>selected<%}%>  >Daily WOD</option>
                  
                  <option value="Travel WOD on Your way" <% if(userDetail.WOD_routine == 'Travel WOD on Your way'){%>selected<%}%>>Travel WOD on Your way</option>
                  
                  </select>
                    </div>
                    <span class="alertText"></span>
                  
                  
                  
                  
                    <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                    </div>
                    <br/>
                  </form>
                  </div> -->
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.weight %>" id='usrweght'>
                  <form method="POST">
                     <div class="lab">
                        Weight : 
                     </div>
                     <input type="text" attr="weight" name="weight" value="<%= userDetail.weight %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
               <div class="updateProfile">
                  <input type="hidden" value="<%= userDetail.height %>" id='usrheght'>
                  <form method="POST">
                     <div class="lab">
                        Height :
                     </div>
                     <input type="text" attr="height" name="height" value="<%= userDetail.height %>" readonly='readonly' class="fields" required><button type="button" class="edit pull-right">Edit</button><span class="alertText"></span>
                     <div class="hideField">
                        <input type="submit" value="Save" class="sub">
                        <button type="button" class="closeTab">Cancel</button>
                     </div>
                     <br/>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<% } %>
</div>
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Phone Number</h4>
         </div>
         <div class="modal-body updateProfile data">
            <div class="showOld">
               <form>
                  <input type="hidden" value="<%= userDetail.phone %>" id='usrphn'>
                  <p>Enter your phone number and we'll text you a verification code.</p>
                  <p>Phone: </p>
                  <input type="tel" attr="phone" class="setphone form-control phone" id="phone" name="phone">
                  <input type="hidden" attr="phone" class="fields">
                  <span id="valid-msg" class="hide">✓ Valid</span>
                  <span id="error-msg" class="hide clearfix">Invalid number</span>
                  <p class="sendMgiing error"></p>
                  <span class="LayMesg err Phon_err"></span>
                  <span class="alertText"></span>
                  <div class="clearfix"><input type="submit" value="Send Text" class="sub" >
                     <img src="../images/reload.gif" class="loading" style="display:none;width:25px;">
                  </div>
               </form>
            </div>
            <div class="showNew" style="display:none">
               <button class="numChang btn btn-primary">Edit Number</button>
               <div class="timer pull-right">
                  <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>
               </div>
               <form class="timer_form">
                  <!--p>Please enter the verification code we sent to your phone.</p-->
                  <p>Verification Code:</p>
                  <input type="hidden" attr="phone" class="number">
                  <input type="text" attr="code" class="code phone" required/>
                  <input type="button" value="Verify" class="verify btn btn-primary">
                  <input type="button" value="Resend Code" class="resend btn btn-default"><img src="../images/reload.gif" class="loader" style="width:25px; margin-left: 5px">
                  <img src="../images/reload.gif" class="loadering" style="display:none;width:25px; margin-left: 5px">
                  <p class="sendMging"></p>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
</div>

