<!-- User Dashboard -->

<script>
$(document).ready( function (){
$('body').addClass('user_dash');
});
</script>
<section>

      <div class="blog-bg1">
       
          <div class="row">
            <div class="col-sm-2 pro">
               <div class="userprofile-box text-center">
                <div class="logo"> <a href="/"> <img src="../frontend/images/logo.png" alt="logo"></a> </div>
                 <div class="user-image text-center">

      <% if(userSingle){
                                     if(userSingle.photo){ %>
<img src="./uploads/images/<%= userSingle.photo %>" class="showProImg img-circle userpic">
<% }else{ %>
 <img src="../images/admin/1.jpg" class="showProImg">   
<% }} else{ %>
 <img src="../images/admin/1.jpg" class="showProImg">   
<% } %>
                            
                 </div><div class="clearfix"></div>
                 <h4><%-userSingle.user_name%></h4>
                
                  <p class="user_wei"><span>Height:</span> <%-userSingle.height%> in/cm<br>
                      <span>Weight:</span> <%-userSingle.weight%> kg</p>
        
               <div class="le user_wei">
               <span>Fitness Level:</span>
                <p> <%-userSingle.fitness%></p>

                  <div class="badge-are">
                <img src="../images/badge.png" style="width: 100px;">
                <p>Workout Badge</p>
               </div>

               </div>
                </div>
            </div>
             <div class="col-sm-10 dash">
            
             <div class="dashboard-heading">
               <h3>  Dashboard</h3>
               </div>
                <div class="col-sm-12 ">
                   <DIV class="col-sm-4 color-1">
                   <h3>Plans</h3>
                   <p>
                  <% Plan.forEach( function (plan){ 
                 if(plan.id === userSingle.plan_id){ %>
            <%- plan.plan_name %>  
                <% }
                  }); %>
                   </p>
                   <div class="img-icon">
                   <i class="fa fa-street-view" aria-hidden="true"></i>

                     </div>
                   </DIV>
                     <DIV class="col-sm-4 color-2">
                   <h3>Level</h3>
                   <p><%- level %></p>
                       <div class="img-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>

                     </div>
                   </DIV>
                    <DIV class="col-sm-4 color-3">
                   <h3>Payment</h3>
                   <p>
                <% Plan.forEach( function (plan){ 
                 if(plan.id === userSingle.plan_id){ %>
            <%- plan.currency %><%- plan.price %> 
                <% }
                  }); %>

                   </p>
                   <div class="img-icon">
                     <i class="fa fa-credit-card" aria-hidden="true"></i>

                     </div>
                   </DIV>
                   
                </div>
            
            <div class="col-sm-12 levell">
              <div class="user-history">
               <h3>History</h3>
               <div class="row">
                <div class="col-sm-12">
              <table class="basic-table table-responsive table">

        <tbody><tr>
          <th>#</th>
          <th>Title</th>
            <th>Video</th>
            <th>Rounds</th>
          <th>Time Elased</th>
            <th>Date</th>
          
        </tr>
<% var i=1; WOD.forEach( function (video){ 
console.log(video.WOD_Id); %>
        <tr>
          <td><%- i %></td>
          <td><% if(video.WOD_Id){ %><%- video.WOD_Id.video_title %><% }%></td>
          <td><% if(video.WOD_Id){ %><div class="video" data-video="<%= video.WOD_Id.video_link %>" poster="./uploads/video/<%=video.WOD_Id.video_img %>" data-toggle="modal">
<a target="blank" href="/workOut?id=<%= video.WOD_Id.id %>">
          

        <img src="./uploads/video/<%= video.WOD_Id.video_img %>"> 
        <img class="dash_video_img" src="../frontend/images/video_play_overlay.png" alt="video_img"> 

            </a>
          </div><% }%></td>
        <td><%- video.total %></td>
          <td><%- video.time %></td>
          <td><%= moment(video.created_at).format( 'DD-MM-YYYY /h:mm:ss a') %></td>
              
        </tr>
<% i++; }); %>
      </tbody>
      </table>
      </div>
      <!-- <div class="col-sm-6">
        
         <table class="basic-table table-responsive">

        <tbody><tr>
          <th>#</th>
          <th>Payment</th>
            <th>Time</th>
            <th>Price</th>
            <th>Date</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Workout</td>
          <td>02:12:00</td>
          <td>$ 25</td>
          <td>24/6/2016</td>
          
        </tr>

        <tr>
          <td>2</td>
          <td>Workout</td>
          <td>02:12:00</td>
        <td>$ 25</td>
          <td>24/6/2016</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Workout</td>
          <td>02:12:00</td>
          <td>$ 20</td>
          <td>24/6/2016</td>
        </tr>

        <tr>
            <td>4 </td>
          <td>Workout</td>
          <td>02:12:00</td>
          <td>$ 30</td>
          <td>24/6/2016</td>
        </tr>
      </tbody>
      </table>
      </div>

              </div> -->

        
                <div class="clearfix"></div>
            
              
    

            </div>

      </div>
           
       </div>
       </div>
     

</section>



