</div>
<div class="page-footer">
                    <p class="no-s">2017 &copy;Felixwod.com</p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
      <!--   <nav class="cd-nav-container" id="cd-nav">
            <header>
                <h3>Navigation</h3>
                <a href="#0" class="cd-close-nav">Close</a>
            </header>
            <ul class="cd-nav list-unstyled">
                <li class="cd-selected" data-menu="index">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li data-menu="profile">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <p>Profile</p>
                    </a>
                </li>
                <li data-menu="inbox">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <p>Mailbox</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-tasks"></i>
                        </span>
                        <p>Tasks</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                        <p>Settings</p>
                    </a>
                </li>
                <li data-menu="calendar">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <p>Calendar</p>
                    </a>
                </li>
            </ul>
        </nav>--> 
        </div> 
        <div class="cd-overlay"></div> 
	
<style>
footer {
  text-align: center;

}

</style>
        <!-- Javascripts -->
        <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="../plugins/pace-master/pace.min.js"></script>
        <script src="../plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../plugins/switchery/switchery.min.js"></script>
        <script src="../plugins/uniform/jquery.uniform.min.js"></script>
        <script src="../plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="../plugins/offcanvasmenueffects/js/main.js"></script>
        <script src="../plugins/waves/waves.min.js"></script>
        <script src="../plugins/3d-bold-navigation/js/main.js"></script>
        <script src="../js/modern.min.js"></script>
        <script src="../js/pages/inbox.js"></script>
        
    </body>
</html>