
<script type="text/javascript">
    /********signUp form validation *********/
    $(document).ready(function() {
        $('#subcategoryAdd').submit(function(e) {
          
            var valid = $("#subcategoryAdd").valid();
            if (valid) {} else {
                e.preventDefault();
            }
        });
      $('#subcategoryAdd').validate({
            rules: {
                'name': 'required',
             },
            messages: {
                name: {
                    required: "Name can't be blank"
                }
           }

        });
});


/********end of form validation *********/
</script>
<div class="page-inner">

    <% if (message) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>

           <div id="main-wrapper">
           <a class="btn btn-success btn-lg " href="javascript: history.go(-1)">←Back To previous page</a>
                <div class="row m-t-md">
                 <div class="col-sm-2"></div>
                 <div class="col-sm-8 col-sm-offset-3">
                    <h1 class="sign-user">Add Sub-Category</h1>

            

                    <!-- LOGIN FORM -->
                    <form action="/add_subcategory" method="POST" id="subcategoryAdd">
                    <div class="form-group">
                    <label>Category</label>
                    <select name="catname" class="form-control">
                    <option value="">Select Category</option>
                     <% catName.forEach(function(category) { %>   
                     <option value="<%=category.name %>"><%=category.name %></option>
                     <% }); %>
                     </select>
                    </div>
                    <div class="form-group">
                      <label>Sub-Category Name</label>
                     <input type="text" class="form-control" name="name">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Save</button>
                    </form>
                </div>
            </div>
             </div>
            </div>
             </div>
            