
<div class="page-inner">

   <div id="main-wrapper">
   <a class="btn btn-success btn-lg " href="javascript: history.go(-1)">←Back To previous page</a>
      <div class="container">
        <div class="row m-t-md">
            <h1>Sub-Category List</h1>

  

            <% if (message.length > 0) { %>
                <div class="alert alert-success">
                    <%= message %>
                </div>
                <% } %>
                <a href="/add_subcategory"><button type="button" class="btn btn-info">Add Sub-Category</button></a>
                    <!-- List all user in  FORM -->
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% $i = 1; %>
                                <% subcatName.forEach(function(SubCategory) { %>
                                    <tr>
                                        <td>
                                            <%= $i; %>
                                        </td>
                                        <td>
                                            <%= SubCategory.name; %>
                                        </td>
                                       
                                        <td><a href="/editSubCategory?id=<%= 
                                            SubCategory.id; %>">edit</a>/<a href="delSubCategory?id=<%= SubCategory.id; %>" onclick="return confirm('Are you sure you want to delete that Category?');">Delete</a>
                                        </td>
                                    </tr>
                                    <% $i++; %>
                                        <% }); %>
                        </tbody>
                    </table>
        </div>
    </div>
</div>
 </div>
    </div>
    